h1 {
  color: red;
}

p {
  color: blue;
}

img {
  align-self: center;
  object-fit: cover;
}

.navbar-text {
  margin-inline: 20px;
}

@media (max-width: 576px) {
  /* Bootstrap "xs" */
  .services-list {
    column-count: 1;
  } /* single column on mobile */
}
