h1 {
  color: red;
}

p {
  color: blue;
}

img {
  align-self: center;
  object-fit: cover;
}

.navbar-text {
  margin-inline: 20px;
}

.services-list {
  column-count: 2;
  column-gap: 1.5rem;
  margin: 0 auto; /* centers the whole block */
  max-width: 600px; /* prevents over‑stretch on large screens */
}
@media (max-width: 576px) {
  /* Bootstrap "xs" */
  .services-list {
    column-count: 1;
  } /* single column on mobile */
}
