<script>
  let appStoreUrl = "";

  window.showAppModal = function (url) {
    appStoreUrl = url;

    // GTM
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: "app_link_click",
      app_url: url,
    });

    const messageEl = document.getElementById("appModalMessage");
    if (url.includes("apps.apple.com")) {
      messageEl.innerText = "You're about to open the App Store.";
    } else if (url.includes("play.google.com")) {
      messageEl.innerText = "You're about to open the Play Store.";
    } else {
      messageEl.innerText = "You're about to open an external website.";
    }

    const modalEl = document.getElementById("appModal");
    const modal = new bootstrap.Modal(modalEl);
    modal.show();

    document.getElementById("proceedToAppStore").onclick = () => {
      window.location.href = appStoreUrl;
    };
  };
</script>
