<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
    <!-- Organization Schema -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": {{ site.organization.name | default: "Bill Vivino Technology, LLC" | jsonify }},
      "url": "{{ site.url }}/",
      "logo": "{{ '/assets/logo.png' | absolute_url }}",
      "sameAs": [
        "https://www.linkedin.com/in/billvivino/",
        "https://www.upwork.com/freelancers/billvivino",
        "https://www.fiverr.com/billvivino"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "customer support",
        "email": {{ site.email | jsonify }},
        "telephone": {{ site.phone | jsonify }},
        "areaServed": "US"
      }
    }
    </script>
    <!-- WebSite Schema -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": {{ site.title | jsonify }},
      "url": "{{ site.url }}/",
      "publisher": {
        "@type": "Organization",
        "name": {{ site.organization.name | default: "Bill Vivino Technology, LLC" | jsonify }},
        "logo": {
          "@type": "ImageObject",
          "url": "https://billvivinotechnology.com/assets/logo.png"
        }
      }
    }
    </script>
    {% include breadcrumb-schema.html %}
  </head>

  <body>

    <!-- Global App / External Link Modal -->
    <div
      class="modal fade"
      id="appModal"
      tabindex="-1"
      aria-labelledby="appModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="appModalLabel">
              Leaving to App Store
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center">
            <p id="appModalMessage">
              You're about to visit an external link.
            </p>
            <button id="proceedToAppStore" class="btn btn-primary">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>

    {% include body-start.html %}

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KNB6ZKLD"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
